<!-- partials -->
<header style="text-align:center;margin-top:20px;">
    <h1>TODO APP&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<span id="dob" style="font-size:1.2rem;color:rgb(21, 80, 6)">2321312</span></h1>
</header>
<script type="text/javascript" src="/js/_headers.js">
</script>